/* || General setup */

html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  background-color: #dde;
}

body {
  width: 80%;
  min-width: 1024px;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

p, input, li, table, label, textarea, button{
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

caption {
  font-family: 'Courier New', Courier, monospace;
  caption-side: top;
  font-weight: bold;
  margin-bottom: 10px;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-size: 3rem;
  text-align: center;
}

h3, caption {
  font-size: 2.2rem;
}

p, li, table, .search{
  font-size: 1.6rem;
  line-height: 1.5;
}

address {
  font-style: normal;
}

/* || header layout */

h1 {
  position: relative;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 10px;
}

h2 {
  text-align: left;
}

nav, article, footer, .secondary {
  background-color: rgb(255, 255, 255);
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
}

article, footer, .secondary {
  padding: 10px 30px;
}

article {
  margin-right: 10px;
}

nav {
  height: 50px;
  background-color: ff80ff;
  display: flex;
  padding: 1% 0;
  margin-bottom: 10px;
}

nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
  color: #333;
}

nav a:active {
  color: #666;
}

/* Link styling */
a {
  color: #0066cc;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  color: #003d7a;
}

a:visited {
  color: #551a8b;
}

a:active {
  color: #ff0000;
}

nav .search {
  flex: 1;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 2em;
}

.search input {
  font-size: 1.6rem;
  height: 32px;
}

.search input[type="search"] {
  flex: 3;
}

.search button {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
  font-size: 1.6rem;
  height: 32px;
}

/* || main layout */

main {
  display: flex;
}

article {
  flex: 5;
}

.secondary {
  flex: 2;
}

footer {
  margin-top: 10px;
}

/* Table styling */

table {
  width: 100%;
  background-color: #dde;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
}

td {
  text-align: center;
}

th[scope="col"] {
  border-bottom: 1px solid black;
}

tbody tr:nth-child(odd) {
  background-color: #def;
}

/* styling content images and audio */

img, audio {
  display: block;
  margin: 0 auto;
}

figure {
  width: 400px; /* Set desired width */
}

figure img {
  width: 100%;
  height: auto;
}


audio {
  width: 500px;
}

/* Comments styling */

.comments {
  background-color: #def;
  padding: 10px;
}

.show-hide {
  cursor: pointer;
}

.comments font[size="6"] {
  font-size: 2rem;
}

.comments font[size="6"]:nth-of-type(2) {
  margin-bottom: 0;
}

.comment-form {
  margin-bottom: 3rem;
}

.comment-form .flex-pair {
  display: flex;
  padding: 0 3rem 1rem;
}

.comment-form label {
  align-self: center;
  flex: 2;
  text-align: right;
}

.comment-form input,
.comment-form textarea {
  margin-left: 1rem;
  flex: 6;
}

.show-hide {
  text-align: center;
  width: 150px;
}

.comment-form input,
.comment-form textarea,
.comment-form label,
.show-hide {
  font-size: 1.6rem;
  line-height: 32px;
}

.comment-form button[type="submit"],
.show-hide {
  background: #333;
  border: 0;
  color: white;
  cursor: pointer;
}

.comment-form button[type="submit"] {
  width: 30%;
  display: block;
  margin: 0 auto;
  padding: 8px 16px;
}

.comment-container {
  margin-top: 0;
}

.comment-container li {
  list-style-type: none;
  display: flex;
}

.comment-container li p:nth-child(1) {
  flex: 1;
  font-weight: bold;
}

.comment-container li p:nth-child(2) {
  flex: 5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
