/* General setup */

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 20px;
  min-width: 980px;
  max-width: 1400px;
  line-height: auto;
}

/* Layout */

main {
  display: grid;
  grid-template-columns: 5fr 2fr 2fr;
  gap: 40px;
  padding: 20px 0;
}

/* header and footer */

header {
    border-bottom: 5px solid #aa6666;
    text-align: center;
}

footer {
    border-top: 5px solid #aa6666;
}

footer p {
    text-align: center;
}

h1 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 10000;
    letter-spacing: 3px;
}

h2 {
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 10000;
    margin-bottom:0%;
    letter-spacing: 1.5px;
}

p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section h2 + p {
    text-indent: 2rem;
}

nav ul {
    padding-left: 0;
}

nav li {
    list-style-type: none;
    margin-bottom: 1rem;
}

nav li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    line-height: 3.5;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: bold;
    border: 1px solid #aa6666;
}

a {
    outline-color: transparent;
}

a:link {
    color: darkred;
}

a:visited {
    color:crimson;
}

a:focus,
a:hover {
    color: black;
}

a:active {
    color: red;
}